<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1><!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Quiz</title>
                <link rel="stylesheet" href="/static/css/style.css">
            </head>
            <body>
                <div class="main">
                    <h1>Alde Feanen is een belangrijk gebied voor de bescherming van welke diersoort?</h1>
                    <p>Kies het goede antwoord.</p>
                    <div class="container">
                        <button class="answer" onclick="checkAnswer('wrong')">Fluitduif</button>
                        <button class="answer" onclick="checkAnswer('correct')">Otters</button>
                        <button class="answer" onclick="checkAnswer('wrong')">De Paarse veer eend</button>
                    </div>
                </div>
            
            
                <div class="resultContainer">
                    <div id="result" class="result"></div>
                    <p>Het juiste antwoord is: Otters, Het is een beschermde dier soort die je niet op veel plekken kan vinden, Echt een super chattig beestje!</p>
                    <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                </div>

                <script src="/static/js/button.js"></script>


                <div class="easy">
                    <div class="easy-main">
                        <h1>Wat is het meest kenmerkende type plant in Alde Feanen?</h1>
                        <p>Kies het goede antwoord.</p>
                        <div class="easy-container">
                            <button class="answer" onclick="checkAnswer('wrong')">Waterlelies</button>
                            <button class="answer" onclick="checkAnswer('correct')">Dennen</button>
                            <button class="answer" onclick="checkAnswer('wrong')">Cactus</button>
                        </div>
                    </div>
                
                
                    <div class="easy-resultContainer">
                        <div id="result" class="easy-result"></div>
                        <p>Het juiste antwoord is: Waterlelies, Er vallen nog veel meer planten te vinden maar er zijn veel waterlelies in Alde feanen </p>
                        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                    </div>
                

                
                </div>
            

</body>
</html>