<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1><!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Quiz</title>
                <link rel="stylesheet" href="/static/css/style.css">
            </head>
            <body>
                <div class="main">
                    <h1>Wat is het belangrijkste kenmerk van het landschap in Alde Feanen?</h1>
                    <p>Kies het goede antwoord.</p>
                    <div class="container">
                        <button class="answer" onclick="checkAnswer('wrong')">Moerassen en Meren</button>
                        <button class="answer" onclick="checkAnswer('wrong')">Bossen</button>
                        <button class="answer" onclick="checkAnswer('correct')">Zandduinen</button>
                    </div>
                </div>
            
            
                <div class="resultContainer">
                    <div id="result" class="result"></div>
                    <p>Het juiste antwoord is:Moerassen en Meren. Dit is een kenmerk van Alde feanen dat je niet op veel plekken kan vinden in Friesland! </p>
                    <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                </div>

                <script src="/static/js/button.js"></script>


                <div class="easy">
                    <div class="easy-main">
                        <h1>Wat voor soort landschap kun je in Alde Feanen verwachten?</h1>
                        <p>Kies het goede antwoord.</p>
                        <div class="easy-container">
                            <button class="answer" onclick="checkAnswer('correct')">Moeras en water</button>
                            <button class="answer" onclick="checkAnswer('wrong')">Grasvelden</button>
                            <button class="answer" onclick="checkAnswer('wrong')">Bergachtige bossen</button>
                        </div>
                    </div>
                
                
                    <div class="easy-resultContainer">
                        <div id="result" class="easy-result"></div>
                        <p>Het juiste antwoord is: Moeras en water, Als je om je heen kijkt zie je veel mooie dingen!  </p>
                        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                    </div>
                

                
                </div>
            

</body>
</html>