<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1><!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Quiz</title>
                <link rel="stylesheet" href="/static/css/style.css">
            </head>
            <body>
                <div class="main">
                    <h1>Hoe groot is het gebied Alde feanen (Afgerond)</h1>
                    <p>Kies het goede antwoord.</p>
                    <div class="container">
                        <button class="answer" onclick="checkAnswer('correct')">25 km²</button>
                        <button class="answer" onclick="checkAnswer('wrong')">20 km²</button>
                        <button class="answer" onclick="checkAnswer('wrong')">30 km²</button>
                    </div>
                </div>
            
            
                <div class="resultContainer">
                    <div id="result" class="result"></div>
                    <p>Het juiste antwoord is: 25 km² Alde feanen is 25 km² en is een van de grotere natuur gebieden in Friesland</p>
                    <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                </div>

                <script src="/static/js/button.js"></script>


                <div class="easy">
                    <div class="easy-main">
                        <h1>Wat voor type vogels kan je in Alde Feanen zien?</h1>
                        <p>Kies het goede antwoord.</p>
                        <div class="easy-container">
                            <button class="answer" onclick="checkAnswer('correct')">Watervogels</button>
                            <button class="answer" onclick="checkAnswer('wrong')">Tropische vogels</button>
                            <button class="answer" onclick="checkAnswer('wrong')">Stadsvogels</button>
                        </div>
                    </div>
                
                
                    <div class="easy-resultContainer">
                        <div id="result" class="easy-result"></div>
                        <p>Het juiste antwoord is: Watervogels, Er komen veel vogels wonen de meeste genieten van het water in Alde feanen</p>
                        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                    </div>
                

                
                </div>
            

</body>
</html>