<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1>Wanneer was Alde Feanen opgericht?</h1>
        <p>Kies het goede antwoord.</p>
        <div class="container">
            <button class="answer" onclick="checkAnswer('wrong')">2011</button>
            <button class="answer" onclick="checkAnswer('wrong')">1998</button>
            <button class="answer" onclick="checkAnswer('correct')">2006</button>
        </div>
    </div>

    <div class="resultContainer">
        <div id="result" class="result"></div>
        <p>Het juiste antwoord is: "2006", de Alde Feanen werdt in 2006 opgericht.</p>
        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
    </div>

    <script src="/static/js/button.js"></script>

</body>
</html>
