<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1>Hoe is het gebied de Alde Feanen gevormd?</h1>
        <p>Kies het goede antwoord.</p>
        <div class="container">
            <button class="answer" onclick="checkAnswer('wrong')">Door een vulkaan uitbarsting.</button>
            <button class="answer" onclick="checkAnswer('correct')">Door veenvorming en turfwinning.</button>
            <button class="answer" onclick="checkAnswer('wrong')">Het is door de overheid aangelegd.</button>
        </div>
    </div>

    <div class="resultContainer">
        <div id="result" class="result"></div>
        <p>Het juiste antwoord is: "Door veenvorming en turfwinning", rond de 17e eeuw steeg de vraag naar turf en werdt dat dus in de Alde Feanen afgegraven.</p>
        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
    </div>


    <script src="/static/js/script.js"></script>

</body>
</html>
