<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1><!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Quiz</title>
                <link rel="stylesheet" href="/static/css/style.css">
            </head>
            <body>
                <div class="main">
                    <h1>Wat is de naam van het bezoekerscentrum van Alde Feanen?</h1>
                    <p>Kies het goede antwoord.</p>
                    <div class="container">
                        <button class="answer" onclick="checkAnswer('wrong')">It Fryske Gea</button>
                        <button class="answer" onclick="checkAnswer('wrong')">It Bûtenfjild</button>
                        <button class="answer" onclick="checkAnswer('correct')">Earnewald</button>
                    </div>
                </div>
            
            
                <div class="resultContainer">
                    <div id="result" class="result"></div>
                    <p>Het juiste antwoord is: It Bûtenfjild Kom is op bezoek! Hier kun je veel leren over Alde feanen </p>
                    <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                </div>

                <script src="/static/js/button.js"></script>


                <div class="easy">
                    <div class="easy-main">
                        <h1>Is het gebied toegankelijk voor toeristen?</h1>
                        <p>Kies het goede antwoord.</p>
                        <div class="easy-container">
                            <button class="answer" onclick="checkAnswer('wrong')">Nee</button>
                            <button class="answer" onclick="checkAnswer('correct')">Ja</button>
                            <button class="answer" onclick="checkAnswer('wrong')">Alleen met een Gids of een Volwassen persoon</button>
                        </div>
                    </div>
                
                
                    <div class="easy-resultContainer">
                        <div id="result" class="easy-result"></div>
                        <p>Het juiste antwoord is: Ja! Je mag altijd in Alde feanen op bezoek komen!</p>
                        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                    </div>
                

                
                </div>
            

</body>
</html>