<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1>Welke 5 dieren maken deel uit van de "Big 5 van alde feanen"</h1>
        <p>Kies het goede antwoord.</p>
        <div class="container">
            <button class="answer" onclick="checkAnswer('wrong')">Otter, Zeearend, Ree, Zeehond, Neulpaard</button>
            <button class="answer" onclick="checkAnswer('wrong')">Leeuw, Luipaard, Olifant, Buffel, Neushoorn</button>
            <button class="answer" onclick="checkAnswer('correct')">Zeearend, Ree, Roerdomp, Ooievaar, Aalscholver</button>
        </div>
    </div>


    <div class="resultContainer">
        <div id="result" class="result"></div>
        <p>Het juiste antwoord is: "Zeearend, Ree, Roerdomp, Ooievaar, Aalscholver", dit zijn een paar van de dieren die in de Alde feanen voorkomen.</p>
        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
    </div>

    <script src="/static/js/button.js"></script>

</body>
</html>