<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1>Welke 5 dieren maken deel uit van de "Big 5 van alde feanen"</h1>
        <p>Kies het goede antwoord.</p>
        <div class="container">
            <button class="answer" onclick="checkAnswer('wrong')">Otter, Zeearend, Ree, Zeehond, Neulpaard</button>
            <button class="answer" onclick="checkAnswer('wrong')">Leeuw, Luipaard, Olifant, Buffel, Neushoorn</button>
            <button class="answer" onclick="checkAnswer('correct')">Zeearend, Ree, Roerdomp, Ooievaar, Aalscholver</button>
        </div>
    </div>


    <div class="resultContainer">
        <div id="result" class="result"></div>
        <p>Het juiste antwoord is: "Zeearend, Ree, Roerdomp, Ooievaar, Aalscholver", dit zijn een paar van de dieren die in de Alde feanen voorkomen.</p>
        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
    </div>

    <script src="/static/js/button.js"></script>

    <div class="easy">
        <div class="easy-main">
            <h1>                <div class="easy">
                <div class="easy-main">
                    <h1>Hoe kun je zien hoe oud een boom is?</h1>
                    <p>Kies het goede antwoord.</p>
                    <div class="easy-container">
                        <button class="answer" onclick="checkAnswer('correct')">De ringen in de stam tellen</button>
                        <button class="answer" onclick="checkAnswer('wrong')">Door de bladeren te tellen</button>
                        <button class="answer" onclick="checkAnswer('wrong')">Door te tellen hoeveel eikels vallen</button>
                    </div>
                </div>
            
            
                <div class="easy-resultContainer">
                    <div id="result" class="easy-result"></div>
                    <p>Het juiste antwoord is: "De ringen in de stam tellen" Als je de ringen in de stam telt is elke ring die je telt 1 levensjaar voor de boom.</p>
                    <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
                </div>
            

            
    </div>

</body>
</html>