<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <h1>Waar kunt u informatie vinden over Alde Feanen</h1>
        <p>Kies het goede antwoord.</p>
        <div class="container">
            <button class="answer" onclick="checkAnswer('wrong')">Angry birds</button>
            <button class="answer" onclick="checkAnswer('wrong')">Spotify</button>
            <button class="answer" onclick="checkAnswer('correct')">Natuur Beheer Plan</button>
        </div>
    </div>

    <div class="resultContainer">
        <div id="result" class="result"></div>
        <p>Het juiste antwoord is: "Natuur Beheer Plan", hier bevindt zich alle informatie over de Alde Feanen.</p>
        <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
    </div>

    <script src="/static/js/button.js"></script>

    <div class="easy">
        <div class="easy-main">
            <h1>n welke provincie ligt Alde Feanen?</h1>
            <p>Kies het goede antwoord.</p>
            <div class="easy-container">
                <button class="answer" onclick="checkAnswer('wrong')">Groningen</button>
                <button class="answer" onclick="checkAnswer('wrong')">Overijsel</button>
                <button class="answer" onclick="checkAnswer('correct')">Friesland</button>
            </div>
        </div>
    
    
        <div class="easy-resultContainer">
            <div id="result" class="easy-result"></div>
            <p>Het juiste antwoord is: "Friesland" Alde Feanen ligt in de mooiste provincie!</p>
            <input type="button" value="Ga terug naar de QR code scanner." onclick="location.href='./index.html'"/>
        </div>
    

    
    </div>

</body>
</html>