<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Waar kunt u informatie vinden over Alde Feanen</h1>
    <p>Kies het goede antwoord.</p>
    <div class="container">
        <button class="answer" onclick="checkAnswer('wrong')">Angry birds</button>
        <button class="answer" onclick="checkAnswer('wrong')">Spotify</button>
        <button class="answer" onclick="checkAnswer('correct')">Natuur Beheer Plan</button>
    </div>

    <div id="result" class="result"></div>

    <script src="/static/js/script.js"></script>

</body>
</html>